body {
  margin: 0px;
}

.nav {
  height: 80px;
  background: #a3c4f3;
}

.nav-logo-container {
  width: 20vw;
  float: left;
}

.nav-logo {
  position: relative;
  width: 80px;
  height: 80px;
}

.nav-navigation-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 70vw;
  float: left;
}

.nav-item {
  display: block;
  width: 100px;
  height: 40px;
  padding: 20% 20%;
  transition: .5s;
}

.nav-item:hover {
  display: block;
  background: #90dbf4;
  transition: .5s;
}

.main {
  background: #f1c0e8;
  height: 600px;
}

.main-image {
  background-image: url(https://cdn.pixabay.com/photo/2020/03/26/10/58/norway-4970080_960_720.jpg);
  height: 600px;
}

.main-image-title {
  position: relative;
  top: 140px;
  font-size: 60px;
  font-family: 'Fredoka', sans-serif;
}

.text {
  background: #ffcfd2;
  height: 600px;
}

.text-container {
  padding: 100px;
}

.note {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  background: white;
  transition: .5s;
}

.note:hover {
  transform: rotate(180deg);
}

.slider {
  background: #fde4cf;
  height: 600px;
}

a {
  text-decoration: none;
  color: black;
}
