body {
  margin: 0px;
}

.nav {
  height: 80px;
  background: #a3c4f3;
}

.nav-logo-container {
  width: 20vw;
  float: left;
}

.nav-logo {
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 100px;
}

.nav-navigation-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 70vw;
  float: left;
}

.nav-item {
  display: block;
  width: 100px;
  height: 40px;
  padding: 20% 20%;
  transition: .5s;
}

.nav-item:hover {
  display: block;
  background: #90dbf4;
  transition: .5s;
}

.main {
  background: #f1c0e8;
  height: 600px;
}

.main-image {
  background-image: url(https://cdn.pixabay.com/photo/2020/03/26/10/58/norway-4970080_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -40px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main-image-title {
  position: relative;
  top: 140px;
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
}

.text {
  background: #ffcfd2;
  height: 600px;
}

.text-container {
  padding: 100px;
  text-align: justify;
}

.note-container {
  display: flex;
  justify-content: space-evenly;
}

.note {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  background: white;
  border-radius: 100px;
  transition: .5s;
}

.note-img {
  width: 98%;
}

.note:hover {
  transform: rotate(180deg);
}

.lab2-main-field{
  min-width: 500px;
  margin-top: 100px;
}
.lab2-field{
  display:inline-block;
  height: 150px;
  width: 150px;
  background: gray;
  padding: 2px;
  margin:2px;
  z-index:1;
  background-size: cover;
  transition: .5s;
}

.lab2-field:hover{
  -webkit-box-shadow: -1px 2px 55px 0px rgba(178, 169, 95, 1);
  -moz-box-shadow: -1px 2px 55px 0px rgba(178, 169, 95, 1);
  box-shadow: -1px 2px 55px 0px rgba(178, 169, 95, 1);
  z-index: -1;
}

@keyframes blink {
  0% { 
    background-color: #FDE4CF;
  }
  20% { 
    background-color: #5E554D;
  }
  40% { 
    background-color: #DEC8B6;
  }
  60% { 
    background-color: #C4B1A1;
  }
  80% { 
    background-color: #EBD3C0;
  }
}

.slider {
  background: #fde4cf;
  height: 500px;
  animation: blink 10s infinite;
}

@keyframes image-app {
  10% {
    -webkit-clip-path: polygon(47% 45%, 70% 0%, 63% 41%, 100% 70%, 40% 59%, 30% 100%, 22% 61%, 7% 24%); 
    clip-path: polygon(47% 45%, 70% 0%, 63% 41%, 100% 70%, 40% 59%, 30% 100%, 22% 61%, 7% 24%);
  }
  20% {
    -webkit-clip-path: polygon(46% 35%, 70% 0%, 75% 46%, 100% 70%, 65% 75%, 30% 100%, 12% 65%, 7% 24%); 
    clip-path: polygon(46% 35%, 70% 0%, 75% 46%, 100% 70%, 65% 75%, 30% 100%, 12% 65%, 7% 24%);
  }
  40% {
    -webkit-clip-path: polygon(47% 12%, 67% 31%, 93% 15%, 75% 48%, 91% 74%, 43% 59%, 25% 82%, 8% 39%); 
    clip-path: polygon(47% 12%, 67% 31%, 93% 15%, 75% 48%, 91% 74%, 43% 59%, 25% 82%, 8% 39%);
  }
  60% {
    -webkit-clip-path: polygon(19% 10%, 56% 17%, 93% 15%, 46% 43%, 91% 74%, 54% 69%, 25% 82%, 27% 44%); 
    clip-path: polygon(19% 10%, 56% 17%, 93% 15%, 46% 43%, 91% 74%, 54% 69%, 25% 82%, 27% 44%);
  }
  80% {
    -webkit-clip-path: polygon(49% 41%, 57% 2%, 61% 40%, 98% 49%, 58% 70%, 52% 98%, 39% 56%, 4% 47%); 
    clip-path: polygon(49% 41%, 57% 2%, 61% 40%, 98% 49%, 58% 70%, 52% 98%, 39% 56%, 4% 47%);
  }
  90% {
    -webkit-clip-path: polygon(47% 45%, 70% 0%, 63% 41%, 100% 70%, 40% 59%, 30% 100%, 22% 61%, 7% 24%); 
    clip-path: polygon(47% 45%, 70% 0%, 63% 41%, 100% 70%, 40% 59%, 30% 100%, 22% 61%, 7% 24%);
  }
}

.slider-img {
  background-image: url("https://cdn.pixabay.com/photo/2013/11/28/10/03/river-219972_960_720.jpg");
  background-repeat: no-repeat;
  height: 400px;
  width: 50%;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  animation: image-app 10s infinite;
  -webkit-clip-path: polygon(47% 12%, 67% 31%, 93% 15%, 75% 48%, 91% 74%, 43% 59%, 25% 82%, 8% 39%); 
  clip-path: polygon(47% 12%, 67% 31%, 93% 15%, 75% 48%, 91% 74%, 43% 59%, 25% 82%, 8% 39%);
}

a {
  text-decoration: none;
  color: black;
}
